{% extends 'base.html' %} 
{% load staticfiles %}



{% block scripts %}
{{ block.super }}
<script src="{% static 'js/style.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endblock scripts %}

{% block content %}
<div>
	
</div>
 <h2>About Us</h2>
 <h4>hellooooooooooooooo</h4>
{% endblock %}
