{% extends 'base.html' %} 
{% load staticfiles %}



{% block scripts %}
{{ block.super }}
<script src="{% static 'js/style.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endblock scripts %}

{% block content %}
<div>
	
</div>
<br><br>
<style>
body  {
    
    background-color: #cccccc;
}
</style>
 
 <div class="container col-sm-10" >
 <div class="container col-sm-4"></div>	
 <div class="container col-sm-6" align="center">
<br><br>
 <h2>About Us</h2>
 <br><br>
<span>C++ JAVA C#.NET Expert in Ghaziabad Govindpuram
Dr. Lalit Kishore Arora,   Expert Cooperate Trainer of C++, JAVA, C#.NET He has 20 years experience of teaching Object Oriented Programming, Currently he is guiding and providing the services in ATS-Govindpuram, Ghaziabad. He has been working in an engineer...</span>
</div>


</div>

<div class="container col-sm-10" >
<div class="container col-sm-4"></div>	
<div class="container col-sm-6" align="center">
<br><br>
<span>
<strong>JAVA Trainer Faculty in Ghaziabad, Govindpuram </strong>
Dr. Lalit Kishore Arora,   Expert Cooperate Trainer of C++, JAVA, C#.NET He has 20 years experience of teaching Object Oriented Programming, Currently he is guiding and providing the services in ATS-Govindpuram, Ghaziabad. He has been working in an engineer...
</span>S
</div>
</div>
{% endblock %}
