{% extends 'base.html' %} 
{% load staticfiles %}



{% block scripts %}
{{ block.super }}
<script src="{% static 'js/style.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endblock scripts %}

{% block content %}
<div>
	
</div>
 <h2>About Us</h2>
<div class="container col-sm-12 text-center">
  <h1>Contact Us</h1>

    <form role="form" action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Submit</button>
    </form>

  <h>- Raj Nagar Branch: BS-02, Sundram Ansal Tower, RDC, Behind Gaur Central Mall, Raj Nagar, Ghaziabad.
- Govindpuram Branch: H-500, Govindpuram, Ghaziabad.
  </h>
    <h2>
        Contact: 986-856-8872
    </h2>
</div>

{% endblock %}
